<!-- main app container -->
<div class="top-bar">
  <div class="container">
    <div class="logo">
      <img class="logoImg" src="assets/logoOto.png">
      <h1 class="title-logo">OTONEURO</h1>
    </div>
      <h2 class="title">Cadastro</h2>
  </div>
</div>

<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 offset-sm-3">
                <alert></alert>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
