/* Fill this with the UX stuff if needed */

.top-bar{
  font-family: 'Alegreya', serif;
  vertical-align: top;
  $logo-size: 80px;

  width: 100%;

  background-color: #620205;

  .container{
    text-align: center;

    .logo{

      .logoImg{
        display: inline-block;
        vertical-align: middle;

        width: 80px;
      }

      .title-logo{
        display: inline-block;
        vertical-align: middle;
        margin-left: 20xp;
        color: #fff;
      }
    }

    .title{
      display: inline-block;
      text-align: center;
      padding-left: 60px;
      line-height: 20px;
      margin-bottom: 20px;
      color: #fff;
    }

  }
}
.jumbotron{
  font-family: 'Alegreya', serif;
  background-color: #fff;

  padding: 2rem 2rem;

  .form-group{
    text-align: left;
  }
  .btn-register{
    text-align: center;

    .btn-primary{
      width: 100%;
      background-color: #620205;
      border-color: #620205;

      .btn-register{
        text-align: center;

        .btn-primary{
          background-color: #620205;
          border-color: #620205;
        }
      }
     &.actived{
        background-color: #c20a10 !important;
      }
    }
  }

  }

